# node_modules
/node_modules

# Logs
*.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de dependencias en otros sistemas
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de build
/dist
/build
